* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f8f9fa;
}
.hero {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("\Images\head.jfif") center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-content
{
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.search-box {
    margin-top: 25px;
}
.Text 
{
    padding: 10px;
    width: 180px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}
.btn_search {
    padding: 10px 20px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.Rooms
{
    padding: 60px;
    text-align: center;
}

.Rooms-Content {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}
.room-card 
{
    background: white;
    border-radius: 10px;
    width: 260px;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.room-card img
{
    width: 100%;
    height: 160px;
    border-radius: 10px;
}
.Book 
{
    margin-top: 10px;
    padding: 8px 15px;
    background: #28a745;
    border: none;
    color: white;
    border-radius: 5px;
}
.why 
{
    background: #e9f7ef;
    padding: 50px;
    text-align: center;
}
.Why-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    font-weight: bold;
}
.steps
{
    padding: 50px;
    text-align: center;
}

.steps-container
{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    font-size: 18px;
}
